{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hush up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <style>
        body {
            font-size: 0.9rem;
        }
        .margin {
            margin: 1rem;
        }
        .padding {
            padding: 1rem;
        }
    </style>
    {% block head %}{% endblock head %}
</head>
<body>
    {% block content %}{% endblock %}
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <!-- Htmx -->
    <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous" defer></script>
    <script>
        function getCookie(e){let t=null;if(document.cookie&&""!==document.cookie){let i=document.cookie.split(";");for(let l=0;l<i.length;l++){let o=i[l].trim();if(o.substring(0,e.length+1)===e+"="){t=decodeURIComponent(o.substring(e.length+1));break}}}return t}
        const csrftoken = getCookie('csrftoken');
    </script>
    {% block script %}{% endblock script %}
</body>
</html>